In [ ]:
from data.cleaning import read_all_historic_csv
from core import Config
import pandas as pd

config = Config()
historic_dictionary: dict[str, pd.DataFrame] = read_all_historic_csv(config.filtered_dir_historic)
all_historic_frame: pd.DataFrame = pd.concat(historic_dictionary.values(), names=[0, 1])

# Explorative Data Analysis

In [ ]:
all_historic_frame.info()

## Filter out every company without reporting Scope 3.1 properly

In [ ]:
scope31: pd.Series = all_historic_frame["TR.UpstreamScope3PurchasedGoodsAndServices"]
# list every index that has only NaN values
nan_index = scope31.groupby(level=0).filter(lambda x: x.isna().sum() == len(x))
all_historic_frame.drop(index=nan_index.index, inplace=True)

## Detect all features that have most companies in common

In [ ]:
from collections import Counter

historic_counter: Counter = Counter()
for dataframe in historic_dictionary.values():
    historic_counter.update(dataframe.columns.to_list())
most_common_historic_columns: list[tuple[str, int]] = historic_counter.most_common()
historic_dictionary_len = len(historic_dictionary)
del historic_dictionary

In [ ]:
import plotly.express as px

# figure out the desired Scope 3.1 purchased goods and services value and how it was reported
scope3_1_count_per_year: pd.Series = (
    all_historic_frame["TR.UpstreamScope3PurchasedGoodsAndServices"].notna().groupby(level=1).sum()
)
fig = px.bar(
    scope3_1_count_per_year,
    x=scope3_1_count_per_year.index,
    y="TR.UpstreamScope3PurchasedGoodsAndServices",
    color="TR.UpstreamScope3PurchasedGoodsAndServices",
    color_continuous_scale="mint",
    text_auto=True,
    labels={
        "TR.UpstreamScope3PurchasedGoodsAndServices": "Anzahl Reports von Scope 3.1",
        "Date": "Jahr",
    }
)
fig.update_coloraxes(showscale=False)
fig.write_image(config.data_dir / "figures" / "scope3_1_count_per_year.png")
fig.show()

When inspecting the Data for how many companies reported Scope 3.1, then we can see that only from 2016 the first values are reported. This gradually rises up to 2023 with 2705 companies and falls down to 1431 in 2024, probably because they didn't have the time to disclose the value yet. This leads to many data to be properly imputed, because this is our targed value.

In [ ]:
start_date = pd.Timestamp('2016-01-01')
end_date = pd.Timestamp('2024-12-31')
mask = (all_historic_frame.index.get_level_values('Date') >= start_date) & (
            all_historic_frame.index.get_level_values('Date') <= end_date)
all_historic_frame = all_historic_frame[mask]

In [ ]:
bar_data: pd.DataFrame = pd.DataFrame(most_common_historic_columns, columns=["Features", "sameFeatureCount"])
bar_data["sameFeatureCount"] = bar_data["sameFeatureCount"].apply(lambda x: x / historic_dictionary_len * 100)
labels = ["{0} - {1}".format(i, i + 10) for i in range(0, 100, 10)]
bar_data["companyCountIn%"] = pd.cut(bar_data["sameFeatureCount"], range(0, 101, 10), labels=labels, right=True)
grouped: pd.DataFrame = bar_data.groupby("companyCountIn%").count().reset_index(names="companyCountIn%")
grouped["companyCountIn%"] = grouped["companyCountIn%"].astype(str)
mask = bar_data.loc[bar_data["sameFeatureCount"] < 90, "Features"]

In [ ]:
fig = px.bar(
    grouped,
    x="companyCountIn%",
    y="sameFeatureCount",
    color="sameFeatureCount",
    color_continuous_scale="mint",
    text_auto=True,
    labels={
        "companyCountIn%": "Anzahl Unternehmen in %",
        "sameFeatureCount": "Anzahl überschneidender zeitreihen Features",
    }
)
fig.update_coloraxes(showscale=False)
fig.write_image(config.data_dir / "figures" / "historic-same-features-count.png")
fig.show()

In [ ]:
bar_data: pd.DataFrame = pd.DataFrame(most_common_historic_columns, columns=["Features", "sameFeatureCount"])
bar_data["sameFeatureCount"] = bar_data["sameFeatureCount"].apply(lambda x: int(x / historic_dictionary_len * 100))
labels = ["{0}".format(i) for i in range(91, 101, 1)]
bar_data["companyCountIn%"] = pd.cut(bar_data["sameFeatureCount"], range(90, 101, 1), labels=labels)
grouped: pd.DataFrame = bar_data.groupby("companyCountIn%").count().reset_index(names="companyCountIn%")
grouped["companyCountIn%"] = grouped["companyCountIn%"].astype(str)
mask_under_90 = bar_data.loc[bar_data["sameFeatureCount"] < 90, "Features"]
mask_90_97 = bar_data.loc[(bar_data["sameFeatureCount"] >= 90) & (bar_data["sameFeatureCount"] <= 98), "Features"]
mask_99_100 = bar_data.loc[bar_data["sameFeatureCount"] > 98, "Features"]

In [ ]:
fig = px.bar(
    grouped,
    x="companyCountIn%",
    y="sameFeatureCount",
    color="sameFeatureCount",
    color_continuous_scale="mint",
    text_auto=True,
    labels={
        "sameFeatureCount": "Anzahl überschneidender statischer Features",
        "companyCountIn%": "Anzahl Unternehmen in %"
    },
)
fig.update_traces(cliponaxis=False)
fig.update_coloraxes(showscale=False)
fig.show()

The companies are not reporting all features equally. Only 623 features are reported by 99% or more companies. 709 Features are reported by over 90% of all companies.

## Domain Knowledge Filtering

In [ ]:
# features that should remain in the subset
remainder: list[str] = [
    'TR.NumberofEmployees',
    'TR.ThermalCoalfiredPowerGeneration'
]

In [ ]:
all_historic_frame.drop(columns=mask_under_90, inplace=True)
all_historic_frame2 = all_historic_frame[mask_90_97]
all_historic_frame3 = all_historic_frame[mask_99_100]

In [ ]:
all_historic_frame = all_historic_frame3.convert_dtypes()
all_historic_frame.to_csv(config.eda_filtered_dir / "eda_filtered_historic.csv")
#safe dtypes as files to make it possible to know the dtypes of the file while reading
dtypes: pd.DataFrame = all_historic_frame.dtypes.to_frame('dtypes').reset_index()
dtypes.to_csv(config.eda_filtered_dir / "eda_filtered_historic_dtypes.csv")

## Working with filtered Dataset

In [1]:
from core import Config
import pandas as pd

config = Config()

dtypes: pd.DataFrame = pd.read_csv(
    config.eda_filtered_dir / "eda_filtered_historic_dtypes.csv",
    index_col=0
)
dtypes_dict: dict[str, str] = {}
for row in dtypes.itertuples(index=False):
    dtypes_dict[row[0]] = row[1]

all_historic_frame = pd.read_csv(
    config.eda_filtered_dir / "eda_filtered_historic.csv",
    dtype=dtypes_dict,
    index_col=[0, 1]
)

reference_filtered_frame = all_historic_frame.copy()

In [2]:
instrument_group = all_historic_frame.groupby(level=0)
historic_dictionary: dict[str, pd.DataFrame] = {}
for key in instrument_group.groups:
    historic_dictionary[str(key)] = all_historic_frame.loc[str(key)]

## Impute values

In [3]:
# Detect columns with only boolean-like strings and convert dtype to boolean
bool_strings = [{'true', 'false'}, {'True', 'False'}, {'yes', 'no'}, {'Yes', 'No'}, {'1', '0'}]
def is_bool_string_col(series):
    values = set(series.dropna().unique())
    return any(values <= s for s in bool_strings)

for col in all_historic_frame.select_dtypes(include=['object', 'string']):
    if is_bool_string_col(all_historic_frame[col]):
        all_historic_frame[col] = all_historic_frame[col].replace({'true': True, 'True': True, 'yes': True, 'Yes': True, '1': True,
                                  'false': False, 'False': False, 'no': False, 'No': False, '0': False}).astype('boolean')
        all_historic_frame[col] = all_historic_frame[col].astype('boolean')  # use 'bool' for non-nullable booleans

In [4]:
g = all_historic_frame.columns.to_series().groupby(all_historic_frame.dtypes.apply(lambda x: x.name))
boolean_cols = all_historic_frame.select_dtypes('bool')

In [5]:
#remove columns with only one unique value
is_single_value = [
    col for col in all_historic_frame
    if all_historic_frame[col].nunique(dropna=True) == 1
]
all_historic_frame.drop(is_single_value, axis=1, inplace=True)

In [ ]:
import core.config as config
config = config.Config()
column_names: list[str] = all_historic_frame.columns.values.tolist()
column_names.sort()
with open(config.eda_features_file_historic, "w") as file:
    file.write("\n".join(str(i) for i in column_names))

In [ ]:
# Count NaN in the whole time series frame and filter
nan_count: pd.Series = all_historic_frame.isna().sum()
# filter how many NaN per year
nan_per_year: pd.DataFrame = all_historic_frame.isna().groupby(level=1).sum()
nan_per_year_and_column: pd.Series = nan_per_year.sum(axis=1)
# filter features with threshold NaNs TODO check the use of this threshold
filtered: pd.DataFrame = all_historic_frame.drop(nan_count.index[nan_count > 15000], axis=1)

In [6]:
# a series of every company with the number of distinct values in the TR.UpstreamScope3PurchasedGoodsAndServices column.
scope31_count: list[int] = []
for key, df in historic_dictionary.items():
    scope31_count.append(df["TR.UpstreamScope3PurchasedGoodsAndServices"].nunique())
# TODO get to know if there are continuously the same values repeatedly reported

## Remove every row, where TR.UpstreamScope3PurchasedGoodsAndServices is NaN

In [7]:
all_historic_frame.drop(all_historic_frame[all_historic_frame["TR.UpstreamScope3PurchasedGoodsAndServices"].isna()].index, inplace=True)

## Baseline Imputation: Remove columns with many missing values, use median for numerical and mode for categorical data

In [8]:
# check how many columns have NaN values
nan_count = all_historic_frame.isna().sum()
# every numerical columns median per column and group
instrument_group = all_historic_frame.groupby(level=0)
historic_dictionary: dict[str, pd.DataFrame] = {}
for key in instrument_group.groups:
    historic_dictionary[str(key)] = all_historic_frame.loc[str(key)]
# Median for columns with numeric types
for instrument in historic_dictionary.keys():
    # float
    for col in all_historic_frame.select_dtypes('float64').columns:
        median = all_historic_frame[col].median()
        all_historic_frame[col] = all_historic_frame[col].fillna(median)
    # int
    for col in all_historic_frame.select_dtypes('int64').columns:
        median = all_historic_frame[col].median().round().astype("int64")
        all_historic_frame[col] = all_historic_frame[col].fillna(median)

# Mode for columns with categorical types
for instrument in historic_dictionary.keys():
    for col in all_historic_frame.select_dtypes(['string', 'boolean']).columns:
        mode = all_historic_frame[col].mode()[0]
        all_historic_frame[col] = all_historic_frame[col].fillna(mode)

In [9]:
all_historic_frame.to_csv(config.median_historic)

### Remove Data with too many NaN

In [ ]:
historic_frame: pd.DataFrame = all_historic_frame.reset_index()

In [ ]:
# Keep rows with at least 90% of the columns filled
historic_frame2 = historic_frame.dropna(thresh=int(len(all_historic_frame.columns) * 0.90))

# Diagnosing Mechanism

In [ ]:
col = historic_frame.isna().sum().sort_values(ascending=False)
# identify rows that have the highest number of NaN values
NaN_row_count = historic_frame[col.index].isna().sum(axis=1).sort_values(ascending=False)
# proportion of missing values
NaN_count = historic_frame.isna().sum()
NaN_prop: pd.Series = historic_frame.isna().sum() / len(historic_frame)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(10,6))
sns.heatmap(historic_frame2[col.index].isna().transpose(),
            cmap="YlGnBu",
            cbar_kws={'label': 'Missing Data'})
plt.savefig("visualizing_missing_data_with_heatmap_Seaborn_Python.png", dpi=300)

## Don't impute Scope 3.1 the target variable

In [ ]:
import plotly.express as px
scope31: pd.DataFrame = all_historic_frame["TR.UpstreamScope3PurchasedGoodsAndServices"].to_frame()
scope31.dropna(inplace=True)
def normalize_values(frame: pd.DataFrame) -> pd.DataFrame:
    return (frame - frame.min()) / (frame.max() - frame.min())
g = scope31.groupby(level=0)["TR.UpstreamScope3PurchasedGoodsAndServices"]
scope31['Scope31Norm'] = g.transform(lambda x: (x - x.min()) / (x.max() - x.min()))
subset = scope31.head(300).reset_index()

fig = px.line(
    subset,
    x=1,
    y='Scope31Norm',
    color=0,
    title='Data Trends Over Years',
    template='plotly_dark',
    labels={'Scope31Norm': 'Normalized Value', '0': 'Company', '1': 'Year'}
)
fig.show()

In [ ]:
agg = scope31.groupby(1)["Scope31Norm"].median().reset_index()
px.line(agg, x=1, y="Scope31Norm", title="Median Value per Year").show()